<!-- Modal delete -->
<form action="/panels/admin/ms_panel_users/reset_password" method="post">
    <input type="hidden" name="id_panel_users" id="id_panel_users2" />
    <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="resetUserPassword" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetUserPassword">Reset Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Are you sure to reset this password ?</strong><br>
                    <strong>(default password is : Admin132)</strong>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>