<!-- Modal Edit -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalTitle">Edit User Groups</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formEditUser">
                    <input type="hidden" name="id_panel_users" id="id_panel_users1" />
                    <div class="form-group" id="groupList">
                        <label for="group">Group</label>
                        <input type="text" class="form-control" id="update_user_group" value="" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="buttonEditUser" type="button" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>